<%-include ('../includes/head', {pagetitle:'Login'})%>
<link rel="stylesheet" href="/css/form.css">
</head>

<body>
<%-include ('../includes/header')%>    
    <main id="login">
        <h1>Login to your Account</h1>
        <% if (inputdata.hasError){ %>
            <div id="error">
                <p id="input-error"><%=inputdata.Message%></p>
            </div>
       <% } %>
        <form action="/login" method="post" >
            <input type="hidden" name="_csrf" value="<%=locals.csrfToken%>">
            <p id="login_P">
                <input type="email" name="email" placeholder='EMAIL' value="<%=inputdata.hasemail%>">
            </p>
            <p id="login_p">
                <input type="password" name="password" placeholder="Password"> 
            </p>
            <button>Login</button>
            <p>New to us? <a href="/signup">Signup instead</a></p>
        </form>
    </main>
<%-include ('../includes/footer')%>