<%-include ('../includes/head', {pagetitle:'Details Page'})%>
<link rel="stylesheet" href="/css/details.css">
</head>
<body>
<%-include('../includes/header')%>
<main>
<div id="product_details">
<header>
    <% if (messages.success){ %>
        <div id="error">
            <p id="input-error"><%=messages.success[0]%></p>
        </div>
   <% } %>
    <img src="<%=details.image_path%>" alt="<%=details.title%>">
    <div id="product_info">
        <h1><%=details.title%></h1>
        <p>₦<%=details.price%></p>
        
        <div class="product_action">
            <form action="/kongahub/products/cart/<%=details._id%>" method="post" id="form">
                <input type="hidden" value="<%=locals.csrfToken%>"name="_csrf" class="_csrf">
                <div class="no">
                        <select name="amount" id="">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
    
                        </select>
                    
                </div>
                <button class="cart">Cart</button>
            </form>
        </div>
    </header>
        <p class="product_description"> <%=details.description%></p>
        
        
    </div>
    
</div>
</main>
<%-include ('../includes/footer')%>