<article class="product_item">
    <a href="/kongahub/<%=page_type%>/details/<%=p._id%>">
    <img src="<%=p.image_path%>" alt="<%=p.title%>">
    <div class="product_content">
        <h2><%=p.title%></h2>
        <h3 class="item_price"><%=p.price%></h3>
        
        </a>
        <% if(!home_page){ %>
        <div class="product_action">
            <form action="/kongahub/products/cart/<%=p._id%>?_csrf=<%= locals.csrfToken %>" method="post">
                <div class="no">
                    <select name="amount" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>

                    </select>
                </div>
                <button class="cart" data-csrf="<%=locals.csrfToken%>">Cart</button>
            </form>
        </div>
        <% } %>
    </div>
    
</article>